<html lang="en">
<style>
    .chat-content {
        height: 450px;
        overflow-y: scroll;
        padding: 10px;
    }
    .chat-content li {
        margin-top: 10px;
        list-style: none;
    }
    .text-small {
        font-size: 12px;
        color: gray;
        margin-bottom: 0;
    }
    .chat-box {
        background: #eee;
        padding: 5px;
        border-radius: 5px;
        float: left;
    }
    .mine {
        float: right;
    } 
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include( './component/header.ejs' ) %>
    <div class="container p-4 detail">
        <div class="row">
          <div class="col-3">
            <button type="button" class="btn btn-info mb-1" data-bs-toggle="modal" data-bs-target="#exampleModal">채팅 초대</button>
            <ul class="list-group chat-list">
              <% if( chatRooms.length > 0 ) { %>
                <% chatRooms.forEach( room => { %>
                  <li class="list-group-item" onclick="showChatDiv()">
                    <h6>room.roomSubject</h6>
                    <h6 class="text-small">room.roomDesc</h6>
                  </li>
                <% } ) %>
              <% } else { %>
                <li class="list-group-item" onclick="showChatDiv()">
                  <h6>현재 참여중인 채팅이 없습니다.</h6>
                </li>
              <% } %>
             </ul>
           </div>
      
           <div class="col-9 p-0" id="chatDiv" style="display: none;">
             <div class="chat-room">
                <ul class="list-group chat-content">
                </ul>
              <div class="input-group">
                <input class="form-control" id="chat-input" onkeypress="msgEnterCheck( $( '#chat-input' ).val() )">
                <button class="btn btn-secondary" id="send" onclick="sendMessage( $( '#chat-input' ).val(), `<%= user.username %>` )" disabled>전송</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">초대 대상</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <% allMembers.forEach( member => { %>
                <h6><input class="form-check-input" type="checkbox" value="" id="userCheck">&nbsp;&nbsp;<%= member.username %></h6>
              <% } ) %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
              <button type="button" class="btn btn-primary">초대</button>
            </div>
          </div>
        </div>
      </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.js"></script>
<script>
    const showChatDiv = () => {
      $( "#chatDiv" ).attr( "style", "display: ;" );
    }

    const msgEnterCheck = ( msgInput ) => {
      if( msgInput.length > 0 ) {
        $( "#send" ).attr( "disabled", false );
      } else {
        $( "#send" ).attr( "disabled", true );
      }
    }
    const socket = io();
    const sendMessage = ( sender ) => {
      console.log(sender);
      console.log(postId);
    }
</script>
</html>