<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: #f5f6f7;">
    <%- include( './component/header.ejs' ) %>

    <div class="container mt-5">
        <div class="container mt-5 col-md-6">
            <div class="container mt-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="findIdRadio" id="findIdRadio" value="option1" checked onclick="divDisplayMgmt( `findIdForm`, `findPwdForm`, `findPwdRadio`, this )">
                    <label class="form-check-label" for="inlineRadio1">아이디 찾기</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="findPwdRadio" id="findPwdRadio" value="option2" onclick="divDisplayMgmt( `findPwdForm`, `findIdForm`, `findIdRadio`, this )">
                    <label class="form-check-label" for="inlineRadio2">비밀번호 찾기</label>
                </div>
            </div>
        </div>
        <form class="container mt-5 col-md-6" action="/login" method="POST" id="findIdForm"
        style="border: solid black 2px; border-radius: 15px;">
            <div class="container">
                <div class="container mt-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="emailRadio" id="emailRadio" value="option1" checked onclick="divDisplayMgmt( `IdDiv`, `emailDiv`, `phoneRadio`, this )">
                        <label class="form-check-label" for="inlineRadio1">이메일로 찾기</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="phoneRadio" id="phoneRadio" value="option2" onclick="divDisplayMgmt( `emailDiv`, `IdDiv`, `emailRadio`, this )">
                        <label class="form-check-label" for="inlineRadio2">전화번호로 찾기</label>
                    </div>
                </div>
            </div>
            <div class="mt-4 mb-4">
                <div class="mb-3" id="IdDiv">
                    <label class="form-label">이메일</label>
                    <input type="text" class="form-control" name="email" id="email">
                </div>
                <div class="mb-3" id="emailDiv" style="display: none;">
                    <label class="form-label">전화번호</label>
                    <input type="text" class="form-control" name="phone" id="phone">
                </div>
                <button type="button" class="btn btn-primary" id="findIdBtn" onclick="findUsername( $( '#email' ).val() )">아이디 찾기</button>
            </div>
        </form>
    </div>
</body>
<script>
    const findUsername = ( email ) => {
        $.ajax(
            {
                method : "POST",
                url    : "/member/findIdByEmail",
                data   : {
                    email : email
                },
                success : ( res ) => {
                    if( typeof( res ) === "object" ) {
                        console.log(res.username);
                        alert( `입력하신 이메일의 정보로 찾은 아이디 : ${ res.username }` );
                    } else {
                        alert( "일치하는 회원이 없습니다." );
                    }
                    // alert( res );
                },
                fail : ( err ) => {
                    console.log(err);
                }
            }
        )
    }

    const divDisplayMgmt = ( showId, hideId, targetRadio, selectedEle ) => {
        selectedEle.checked = true;
        $( `#${ targetRadio }` ).prop( "checked", false );
        $( `#${ showId }` ).show();
        $( `#${ hideId }` ).hide();
    }
</script>

</html>