<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, world!</title>
  </head>
  <body>
    <%- include( './component/header.ejs' ) %>
    <div class="container mt-5">
      <h1 class="text-center">메인 화면</h1>
    </div>
  </body>
</html>