<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include( './component/header.ejs' ) %>

    <div class="container mt-5">
        <form action="/login" method="POST">
            <div class="form-group">
              <label>아이디</label>
              <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label>비번</label>
              <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group form-check">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>

    <div class="container mt-5">
        <form action="/register" method="POST">
            <div class="form-group">
              <label>아이디</label>
              <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label>비번</label>
              <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group form-check">
            </div>
            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
    </div>
</body>
</html>