<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include( './component/header.ejs' ) %>
    <div class="container mt-4">
        <h4 class="text-cetner mb-3"></h4>
        <form method="POST" action="/upload" enctype="multipart/form-data">
            <input type="file" name="FileName">
            <button type="submit">전송</button>
        </form>
    </div>
</body>
</html>