<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include( './component/header.ejs' ) %>

    <div class="container mt-5">
        <form action="/add" method="POST">
            <div class="form-group">
              <label>제목</label>
              <input type="text" class="form-control" name="subject">
            </div>
            <div class="form-group">
              <label>내용</label>
              <input type="text" class="form-control" name="content">
            </div>
            <div class="form-group form-check">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>